<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Noah Gibbs">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Codefol.io" %></title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/stylesheets/bootswatch.css">
    <link rel="stylesheet" href="/stylesheets/monokai.css"> <!-- pygments style -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

    <script src="/javascripts/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>
    <script src="/javascripts/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

    <link href="/favicon.png" type="image/png" rel="icon">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30520713-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-30520713-1');
    </script>
  </head>

  <body>
    <div class="wrapper container"><div class="row">
      <nav id="content" class="col-12 col-md-8">
        <%= yield %>
      </nav>
      <nav id="sidebar" class="col-3 d-none d-md-block">
        <p>
          <a href="/topics"><img class="no-border" src="/images/chalk_topics_160_100.png" width="160" height="100" alt="Topics"></img><br/>Articles by Topic</a>
        </p>
        <p>
          <a href="/about"><img class="no-border" src="/images/chalk_smallface_160_100.png" width="160" height="100" alt= "a simple chalk face"></img><br/>About Me</a>
        </p>
        <p>
          <a href="/feed.xml"><img class="no-border" src="/images/chalk_rss_80_50.png" width="80" height="50" alt="RSS icon"><br/>RSS</a>
        </p>
        <p>
          <a href="https://twitter.com/codefolio"><img class="no-border" src="/images/chalk_twitter_bird_80_50.png" width="80" height="50" alt="Twitter logo in chalk"></img><br/>Twitter</a>
        </p>

<div class="mc_styling">
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://rebuilding-rails.us2.list-manage.com/subscribe/post?u=c5569fb6471a3e64be2aa1466&amp;id=82afd59934&amp;SIGNUP=codefolio_sidebar_<%= current_page.data.mc_signup || "default" %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <span class="lead">Sign Up to Get Emailed Articles and Free Chapters.</span>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-FNAME">Name </label>
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c5569fb6471a3e64be2aa1466_82afd59934" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

        If you sign up, I'll email you about software and how to improve at it. I promise to send you what I wish I had known.
</div>
        <div class="card border-light">
          <h3 class="card-header">Posts I Like</h3>

          <div class="list-group list-group-flush">
            <div class="list-group-item"><a href="/posts/where-do-i-put-my-code-in-rails-updated/">Where Do I Put My Code in Rails?</a></div>
            <div class="list-group-item"><a href="/posts/why-do-they-say-rails-doesnt-scale/">Why Do They Say Rails Doesn't Scale?</a></div>
            <div class="list-group-item"><a href="/posts/BigCo-New-Employee-Training-Inside-Voice/">BigCo New Employee Training: Inside Voice</a></div>
            <div class="list-group-item"><a href="/posts/when-should-you-not-use-heroku/">When Should You Not Use Heroku?</a></div>
            <div class="list-group-item"><a href="/posts/deployment-versus-provisioning-versus-orchestration/">What's Deployment vs Provisioning vs Orchestration?</a></div>
            <div class="list-group-item"><a href="/posts/What-is-Rack-A-Primer">What is Rack? A Primer</a></div>
          </div>
        </div>
      </nav>
    </div></div>
    <script id="dsq-count-scr" src="//rubymadscience.disqus.com/count.js" async></script>
  </body>

</html>
