<% wrap_layout :blog_frame do %>
  <!-- Blog page layout -->
  <div class="card border-primary">
    <div class="card-header">
      <h3 class="card-title"><%= current_page.data.title || "Hello!" %></h3>
      <% if current_page.respond_to?(:date) %>
        <span class="card-body text-muted"><%= current_page.date.strftime('%b %e %Y') %></span>
      <% end %>
    </div>
    <div class="card-body">
      <%= yield %>
    </div>
    <ul class="meta text-muted pager">
      <% if (!current_page.data.has_key?("prev") || current_page.data.prev) && current_article.article_previous %>
        <li class="pager"><a href="<%= current_article.article_previous.url %>">(&lt;- <%= current_article.article_previous.title %>)</a></li>
      <% end %>
      <% if (!current_page.data.has_key?("next") || current_page.data.next) && current_article.article_next %>
        <li class="pager"><a href="<%= current_article.article_next.url %>">(<%= current_article.article_next.title %> -&gt;)</a></li>
      <% end %>
    </ul>
  </div>

  <% if !current_page.data.has_key?("comments") || current_page.data.comments %>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        // Replace PAGE_URL with your page's canonical URL variable
        this.page.url = '<%= "http://codefol.io/" + current_page.path %>';

        // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.page.identifier = '<%= current_page.data.disqus_id ? current_page.data.disqus_id : ("http://codefol.io/" + current_page.path) %>';
    };

    (function() {
        var d = document, s = d.createElement('script');

        s.src = 'https://rubymadscience.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">
        comments powered by Disqus.
    </a>
</noscript>

  <% end %>
<% end %>
