<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= current_page.data.title || "Codefol.io" %></title>
        <!-- <meta name="description" content=""> -->
        <link rel="canonical" href="<%= current_page.url %>">

    <!-- Site Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/png" />

    <!-- Font Embed Code -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet" />

    <!-- CSS Styles -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/monokai.css" rel="stylesheet"> <!-- Pygments code highlighting -->
    <link href="/css/site.css" rel="stylesheet">
    <link href="/css/simple-lightbox.min.css" rel="stylesheet">

</head>

<body> <!-- class="layout-default" -->
    <div id="page" class="site">
        <%= partial "header" %>

        <%= yield %>

        <footer id="colophon" class="site-footer outer">
            <div class="site-footer-inside">
                <%= partial "social-links" %>
                <p class="site-info">
                    <a href="#">Codefol.io</a> &copy; 2020 . Horace theme by
                    <a target="_blank" href="https://justgoodthemes.com/">JustGoodThemes</a>..
                </p>
                <p class="back-to-top">
                    <a id="top-button" class="top-button" href="#page">
                        <span class="icon-arrow-up" aria-hidden="true"></span>
                        <span class="screen-reader-text">Back to top</span>
                    </a>
                </p>
            </div><!-- .site-footer-inside -->
        </footer><!-- .site-footer -->
    </div><!-- .site -->
    <div id="site-overlay" class="site-overlay"></div>


    <%= partial "analytics" %>
    <!-- Javascript Assets -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/simple-lightbox.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/custom.js"></script>
    <script id="dsq-count-scr" src="//rubymadscience.disqus.com/count.js" async></script>
</body>

</html>