<% wrap_layout :horace_default do %>

<% unless is_published(current_page) %>
<!--
<div class="working-on-it-header">
    <img src="/images/working_on_it.png" width="100" height="100" alt="A chimpanzee in a lab coat sits looking at an old-fashioned microscope and a heavy electrical cable." />
    This article is not yet "really" published. You're welcome to read it. But it will be officially
    ready on <%= current_page.date.strftime('%b %e %Y') %>.
    <div class="clearfix"></div>
</div>
-->
<% end %>

<div id="content" class="site-content">
    <main id="main" class="site-main outer">
        <article class="post-full inner">
            <header class="post-header">
                <h1 class="posttitle"><%= current_page.data.title %></h1>
            </header><!-- .post-header -->
            <% if current_page.data.giant_featured_asset %>
                <%
                props = asset_properties(current_page.data.giant_featured_asset)
                aside_url = props["aside_url"]
                %>
                <div class="post-thumbnail"><img class="featured-image img-fluid" src="<%= aside_url.html_safe %>"
                    alt="<%= current_page.data.title %>"></div>
            <% end %>
            <div class="post-content">
                <% if current_page.data.featured_asset %>
                  <%= asset_image(current_page.data.featured_asset, size: :aside, direction: :right, disappear_on_mobile: true, caption: current_page.data.featured_caption) %>
                <% elsif current_page.data.featured_youtube %>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= current_page.data.featured_youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <% end %>
                <%= yield %>
            </div>
            <footer class="post-footer">
                <div class="post-meta">
                    <time class="post-date" datetime="<%= current_page.date.strftime('%Y-%m-%d') %>"><%= current_page.date.strftime('%b %e %Y') %></time>
                </div><!-- .post-meta -->
                <div class="post-tags">
                    <% current_page.tags.each do |tag| %>
                        <a href='<%= tag_path(tag) %>'><%= tag %></a>
                    <% end %>
                </div>
                <div class="post-share">
                    <span class="post-share-title">Share:</span>
                    <% if current_page.data.click_to_tweet %>
                        <a target="_blank" href="<%= current_page.data.click_to_tweet %>">Twitter (ClickToTweet)</a>
                    <% else %>
                        <a target="_blank" href="https://twitter.com/share?text=<%= current_page.data.title %>&amp;url=<%= "https://codefol.io" + current_page.url %>">Twitter</a>
                    <% end %>
                </div> <!-- .share-post -->
            </footer>
        </article>
        <%= partial "newsletter-box" %>
        <%= partial "disqus" %>

        <% if (!current_page.data.has_key?("prev") || current_page.data.prev) %>

        <section class="read-next inner">
            <h2 class="read-next-title">Read Next</h2>

            <% rele_posts = other_relevant(current_article) %>
            <% rele_posts.each do |p| %>
                <article class="post">
                    <header class="post-header">
                        <h3 class="post-title"><a href="<%= p.url %>"><%= p.data.title %></a></h3>
                        <p class="post-tags">
                            <% p.tags.each do |tag| %>
                                <a href='<%= tag_path(tag) %>'><%= tag %></a>
                            <% end %>
                        </p>
                    </header>
                    <% if p.data.featured_asset %>
                        <%
                        props = asset_properties(p.data.featured_asset)
                        aside_dims_path = props["aside_url"]
                        aside_w = props["aside_w"]
                        aside_h = props["aside_h"]
                        %>
                        <a href="<%= p.url %>" class="post-thumbnail">
                            <img src="<%= aside_dims_path.html_safe %>" width="<%= aside_w %>" height="<%= aside_h %>" alt="<%= p.data.title %>" />
                    </a>
                    <% else %>
                      <!-- Nothing here -->
                    <% end %>
                </article>
            <% end %>
        </section><!-- .read-next -->
        <% end %><!-- has_key(prev) -->
    </main><!-- .site-main -->
</div><!-- .site-content -->

<% end %>
