<%
  imageurl = asset["#{size}_dims_url"]
  raise "No such image URL as #{imageurl.inspect}!" unless imageurl
  alt = asset["alt"]
  width = asset["#{size}_w"]
  height = asset["#{size}_h"]

  credit_url = asset["credit_url"]
  credit_text = asset["credit_text"]

  credit_markup = nil
  if credit_url && credit_text
    credit_markup = '<a href="' + escape_html(credit_url) + '">' + credit_text + '</a>'
  elsif credit_url
    credit_markup = '<a href="' + escape_html(credit_url) + '">Image Credit</a>'
  elsif credit_text
    credit_markup = credit_text
  else
    # Nothing
  end
%>

<figure class="<%= figureclasses %>">
    <div <%= lightbox ? "class='lightboxed'" : "" %> >
      <img src="<%= escape_html(imageurl) %>" class="<%= imageclasses %>" alt="<%= escape_html(alt) %>" <%= width ? "width='#{width}'" : "" %> <%= height ? "height='#{height}'" : "" %> <%= caption ? "title='#{caption}'" : "" %> />
    </div>

    <% if caption || credit_markup %>
      <figcaption class="caption-text">
        <%= caption ? caption : "" %>
        <%= (caption && credit_markup) ? "<br/>" : "" %>
        <%= credit_markup ? credit_markup : "" %>
      </figcaption>
    <% end %>
</figure>
