<% disqus_id = post.data.disqus_id ? post.data.disqus_id : ("https://codefol.io" + post.url.chomp("/")) %>
<article class="post">
    <header class="post-header">
        <div class="post-meta">
            <time class="published" datetime="<%= post.date.strftime("%Y-%m-%d") %>"><%= post.date.strftime("%B %-d, %Y") %></time>
            <a href="<%= post.url + "#disqus_thread" %>" data-disqus-identifier="<%= disqus_id %>">Comments</a>
        </div><!-- .post-meta -->
        <h2 class="post-title">
            <a href="<%= post.url %>" rel="bookmark"><%= post.data.title %></a>
        </h2>
    </header><!-- .post-header -->

    <% if post.data.featured_youtube %>
            <iframe width="320" height="180" src="https://www.youtube.com/embed/<%= post.data.featured_youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% elsif post.data.featured_asset %>
        <a class="post-thumbnail" href="<%= post.url %>">
            <%= asset_img_tag(post.data.featured_asset, size: :hero).html_safe %>
        </a>
    <% end %>
    <div class="post-content">
        <p><%= post.summary(300) %></p>

        <p class="post-tags">
            <% post.tags.each do |tag| %>
                <a href='<%= tag_path(tag) %>'><%= tag %></a>
            <% end %>
        </p>

        <a href="<%= post.url %>"><button class="btn btn-primary">Read more</button></a>
    </div><!-- .post-content -->

</article><!-- .post -->
