---
title: "Codefol.io, Latest Posts"
pageable: true
per_page: 10
layout: blog_frame
comments: false
next: false
prev: false
---
<% if paginate && num_pages > 1 %>
  <div id="index-top-pager">
    <% if prev_page %>
      <button class="btn btn-primary"><%= link_to '&#8592; More Recent Posts', prev_page %></button>
    <% end %>

    Page <%= page_number %> of <%= num_pages %>

    <% if next_page %>
      <button class="btn btn-primary"><%= link_to 'Earlier Posts &#8594;', next_page %></button>
    <% end %>
  </div>
<% end %>

<% page_articles.each_with_index do |article, i|
     disqus_id = article.data.disqus_id ? article.data.disqus_id : ("http://codefol.io/" + article.path.chomp("/"))
  %>
  <div class="card border-light">
    <div class="card-header">
      <span class="card-body text-muted"><%= article.date.strftime('%b %e %Y') %>|
        <a href="<%= article.url + "#disqus_thread" %>" data-disqus-identifier="<%= disqus_id %>">Comments</a>
      </span>
      <h3 class="card-title"><%= link_to article.title, article %></h3>
    </div>
    <div class="card-body">
      <%= article.summary(300) %>
    </div>
    <div class="card-body">
      <a href="<%= article.url %>"><button class="btn btn-primary">Read more</button></a>
    </div>
  </div>
<% end %>

<% if paginate %>
  <% if next_page %>
    <div id="bottom-next"><button class="btn btn-primary"><%= link_to 'Earlier posts', next_page %></button></div>
  <% end %>
<% end %>
